<div class="container p-4">

    <h1 mat-dialog-title class="textAlignCenter h0">Create Bug</h1>
    <form [formGroup]="bugDetails" class = "signUpForm"  (submit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Bug title</mat-label>
            <input type="text"  matInput maxlength="50" formControlName="bugTitle" 
            placeholder="Ex. Dashboard bug">
            <mat-error *ngIf="bugDetails.get('bugTitle')?.hasError('required')">
                Bug title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div  mat-dialog-content>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput formControlName="description" 
            placeholder=""></textarea>
            <!-- <mat-error *ngIf="bugDetails.get('key')?.hasError('required')">
                Key is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Assigned to</mat-label>
            <mat-select [formControl]="bugServerSideCtrl" placeholder="John Smith">
                <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                <mat-option>
                  <ngx-mat-select-search [formControl]="bugServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
                </mat-option>
                <mat-option>--None--</mat-option>
                <mat-option *ngFor="let bug of filteredServerSidebugs | async" [value]="bug">                    
                    <div class="rows">
                        <div class="circles">
                          {{getInitials(bug.firstname,bug.lastname)}} 
                        </div>
                        {{bug.firstname}} {{bug.lastname}}
                    </div>
                </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="bugDetails.get('projectLead')?.hasError('required')">
                Project lead is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="bugDetails.invalid">Create</button>
        <button mat-button mat-dialog-close type="button">Cancel</button>
    </div>
</form>

</div>