<div class="container">
                <div class="vertical-padding">
                    <div class="heading d-flex justify-content-between">

                        <div class="">
                            <h3>Bugs</h3>
                        </div>
                        <div class="createProject ">
                            <button mat-stroked-button  class=" btn btn-primary"  (click)="openDialog()">Create Bug</button>
                        </div>
                    </div>
                    <div class="search">
                
                        <mat-form-field class="mt-3 bg-light" appearance="outline">
                            <mat-label>Search</mat-label>
                            <input type="text" matInput 
                            placeholder="Ex. John" (keyup)="applyFilter($event)">
                        </mat-form-field>
                    </div>
                    
                    <!-- <div cdkDropListGroup> -->
                        <div class="bug-container">
                            <h4>New</h4>
                            <div
                            id="new"
                            cdkDropList
                            #new="cdkDropList"
                            [cdkDropListData]="newBugs"
                            [cdkDropListConnectedTo]="[active,resolved,paused]"
                            class="bug-list"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let item of newBugs; let i = index">

                                <div class="bug-box boxShadow" style="border-top: solid 3px #AEA5AE;" *ngIf="newBugs!=null" cdkDrag>
                                    <button mat-button [matMenuTriggerFor]="menu" #t="matMenuTrigger" class="bug-menu"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>Edit bug</button>
                                        <button mat-menu-item  class="text-danger" (click)="deleteBug(item,'new')"><i class="fa  fa-remove"></i>  Delete</button>
                                    </mat-menu>
                                    </button>
                                    <div class="d-flex">

                                        <div class="id"><b> {{item.id}}</b></div>
                                        <a href="javascript: void()"(click)="editBug(item._id,item.title,item.description,item.assignedTo)" style="text-decoration: none;" class="bug-content">
                                            <div class="title px-2">{{item.title}}</div>
                                        </a>
                                    </div>
                                    <div class="assignedTo">{{item.assignedTo||"Unassigned"}}</div>
                                    <div class="status">
                                        <span style="padding-right: 5px;">State </span><i class="fa fa-circle" aria-hidden="true" style="color: #AEA5AE;"> </i> 
                                        <select (change)="optionChange($event,i,newBugs)" (focus)="previousOption($event)" class="status-select">
                                            <option selected value="new">New</option>
                                            <option value="active">Active</option>
                                            <option value="resolved">Resolved</option>
                                            <option value="paused">Paused</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                        <div class="bug-container">
                            <h4>Active</h4>
                            <div
                            id="active"
                            cdkDropList
                            #active="cdkDropList"
                            [cdkDropListConnectedTo]="[new,resolved,paused]"
                            [cdkDropListData]="activeBugs"
                            class="bug-list"
                            (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of activeBugs; let i = index">

                                    <div class="bug-box boxShadow" style="border-top: solid 3px #0e6ffd;" *ngIf="activeBugs" cdkDrag>
                                        <button mat-button [matMenuTriggerFor]="menu" #t="matMenuTrigger" class="bug-menu"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item>Edit bug</button>
                                                <button mat-menu-item  class="text-danger" (click)="deleteBug(item,'active')"><i class="fa  fa-remove"></i>  Delete</button>
                                            </mat-menu>
                                            </button>                                        
                                            <div class="d-flex">

                                                <div class="id"><b> {{item.id}}</b></div>
                                                <a href="javascript: void()"(click)="editBug(item._id,item.title,item.description,item.assignedTo)" style="text-decoration: none;" class="bug-content">
                                                    <div class="title px-2">{{item.title}}</div>
                                                </a>
                                            </div>
                                        <div class="assignedTo">{{item.assignedTo||"Unassigned"}}</div>
                                        <div class="status">
                                            <span style="padding-right: 5px;">State </span><i class="fa fa-circle" aria-hidden="true" style="color: #0e6ffd;"></i>
                                            <select (change)="optionChange($event,i,activeBugs)" class="status-select">
                                                <option value="new">New</option>
                                                <option selected value="active">Active</option>
                                                <option value="resolved">Resolved</option>
                                                <option value="paused">Paused</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="bug-container">
                            <h4>Resolved</h4>
                            <div
                            id="resolved"
                            cdkDropList
                            #resolved = "cdkDropList"
                            [cdkDropListConnectedTo]="[new,active,paused]"
                            [cdkDropListData]="resolvedBugs"
                            class="bug-list"
                            (cdkDropListDropped)="drop($event)">
                                <div  *ngFor="let item of resolvedBugs; let i = index">

                                    <div class="bug-box boxShadow" style="border-top: solid 3px #339933;" *ngIf="resolvedBugs"  cdkDrag>
                                        <button mat-button [matMenuTriggerFor]="menu" #t="matMenuTrigger" class="bug-menu"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item>Edit bug</button>
                                                <button mat-menu-item  class="text-danger" (click)="deleteBug(item,'resolved')"><i class="fa  fa-remove"></i>  Delete</button>
                                            </mat-menu>
                                            </button>                                        
                                            <div class="d-flex">

                                                <div class="id"><b> {{item.id}}</b></div>
                                                <a href="javascript: void()"(click)="editBug(item._id,item.title,item.description,item.assignedTo)" style="text-decoration: none;" class="bug-content">
                                                    <div class="title px-2">{{item.title}}</div>
                                                </a>
                                            </div>
                                    <div class="assignedTo">{{item.assignedTo||"Unassigned"}}</div>
                                    <div class="status">
                                        <span style="padding-right: 5px;">State </span> <i class="fa fa-circle" aria-hidden="true" style="color: #339933;"></i>
                                        <select (change)="optionChange($event,i,resolvedBugs)" class="status-select">
                                            <option value="new">New</option>
                                            <option value="active">Active</option>
                                            <option selected value="resolved">Resolved</option>
                                            <option value="paused">Paused</option>
                                        </select>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>

                        <div class="bug-container">
                            <h4>Paused</h4>
                            <div
                            cdkDropList
                            id="paused"
                            #paused="cdkDropList"
                            [cdkDropListConnectedTo]="[new,active,resolved]"
                            [cdkDropListData]="pausedBugs"
                            class="bug-list"
                            (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let item of pausedBugs; let i = index">

                                <div class="bug-box boxShadow" style="border-top: solid 3px #dc3545;" *ngIf="pausedBugs" cdkDrag>
                                    <button mat-button [matMenuTriggerFor]="menu" #t="matMenuTrigger" class="bug-menu"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>Edit bug</button>
                                            <button mat-menu-item  class="text-danger" (click)="deleteBug(item,'paused')"><i class="fa  fa-remove"></i>  Delete</button>
                                        </mat-menu>
                                        </button>                                   
                                        <div class="d-flex">

                                            <div class="id"><b> {{item.id}}</b></div>
                                            <a href="javascript: void()"(click)="editBug(item._id,item.title,item.description,item.assignedTo)" style="text-decoration: none;" class="bug-content">
                                                <div class="title px-2">{{item.title}}</div>
                                            </a>
                                        </div>
                                        <div class="assignedTo">{{item.assignedTo||"Unassigned"}}</div>
                                        <div class="status"><span style="padding-right: 5px;">State </span><i class="fa fa-circle text-danger" aria-hidden="true"></i> 
                                            <select (change)="optionChange($event,i,pausedBugs)" class="status-select">
                                                <option value="new">New</option>
                                                <option value="active">Active</option>
                                                <option value="resolved">Resolved</option>
                                                <option selected value="paused">Paused</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
</div>
