
<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
                <a class="navbar-brand" href="#"><strong>Bug Tracker</strong></a>
                
                    <ul *ngIf="!isLoggedIn" class="navbar-nav">
                        <li class="nav-item">
                            <button mat-stroked-button  (click)="openDialog()" class=" btn btn-outline-primary" href="#">Get Free Trial</button>
                        </li>
                    </ul>
                    <ul *ngIf="isLoggedIn"class="navbar-nav">
                        <li class="nav-item">
                            <button mat-stroked-button  (click)="logout()" class=" btn btn-outline-primary" href="#">Logout</button>
                        </li>
                    </ul>
        </div>
    </nav>