
.header{
  position: relative;
  margin-bottom: 15px;
}
.title{
    padding: 5px 8px;
}
.title:hover{
    border: 2px solid #dfdfdf;
}
select {
    padding: 0 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
  }
  .priority{
    display: flex;
    padding-left: 0px;
    width: 100%;
  }
  .priority:hover{
    border: solid 1px #ccc;
  }
  .priority-select{
    width: 100%;
    text-decoration: none;
    border: none;
  }
  .angular-editor-toolbar-set{
    margin: 20px;
  }