.bugDetails{
  position: relative;
  width: 100%;
}
.header{
  position: sticky;
  min-height: 100px;
  border-left: 7px solid #0e6ffd;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.hearderBottom{
  margin: 0;
  margin-bottom: 5px;
}
.bugTitle{
    // padding: 0px 8px;
    width:90%;
    border: none;
    font-size: 26px;
    background-color: transparent;
}

.copyIcon{
  visibility: hidden;
}
.title{
  position: absolute;
  margin-left: 5rem;
  margin-right: 0;
}
.title:hover{
  .copyIcon{
    visibility: visible;
    background-color: #dfdfdf;
    // width: 48px;
     padding: 12px;
    // padding-top: 17px;
     border: none;
  }
  .bugTitle{
      border: 2px solid #dfdfdf;
  }
}
.noOfComments{
  padding-top: 20px;
  text-align: center;
}
.fa-copy{
  border: none;
  background-color: transparent;
}
.saveBtn{
  text-align: end;
}
select {
    padding: 0 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
  }
  .priority{
    display: flex;
    padding-left: 0px;
    width: 100%;
  }
  .priority:hover{
    border: solid 2px #f7f7f7;
  }
  .priority-select{
    width: 100%;
    text-decoration: none;
    border: none;
  }
  .assignedTo{
    width: 300px;
  }
  .comments{
  }

