<div class="title row">
    <h4 class="col-2">{{id}}</h4>
    <h4 class="col-8"> {{title}}</h4>
    <h4 class="col-2" style="margin-left: auto;"> Sprint 4</h4>
</div>
<div class="row">
    <div class="description col-8">
        <br>
        <h4>Description</h4>
        <textarea rows="10" cols="80">
            {{description}}
        </textarea>
    </div>
    <div class="col-4">
        <br>
        <div class="priority">priority</div>
        <div class="assignedTo">AssignedTo</div>
    </div>
</div>
<div class="comments">
    Comments
</div>