.getStarted{
    height: 92vh;
    background-color: aliceblue;
}



.lineBreak{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(66, 82, 110);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.line{
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 31px;
    margin-right: 8px
}

.signUpCard{
    padding: 20px 100px;
}
.emailBtn{
    margin-bottom: 20px;
}
.googleImg{
    width: 18px;
}

.featureImg{
    width: 100%;
    height: auto;
}
.why{
    box-shadow: -1px 3px 10px -5px;
}
.feature{
    padding: 100px 0px;
}
.paddingLeft{
    padding-left: 2rem;
}