<div style="overflow: hidden;">

<!-- Get Started -->
<section class="getStarted">

    
        <div class="container">
            <div class="vertical-padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="intro">
                            <div class="sectionHeading max-width-large">
                                <h1 class="h0"><b>Bug Tracker</b></h1>
                            </div>
                            <div class="max-width-small">
                               
                                <span class="para">Bug Tracker provide bug tracking solution to businesses. <br> With bug tracker you can identify, manage and resolve issues quickly, efficiently and cost-effectively.
                                    <br> Our team of experts ensures that your business s able to track, monitor and report on any bugs or issues that may arise
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="signUpCard">

                            <div class="card textAlignCenter">
                                <h2><b>Get Started</b></h2>
                                <p>Free upto 10 users</p>
                                <button class="btn googleBtn boxShadow"><img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.51/static/media/google-logo.c21ca9d1.svg" class="googleImg"><b> Continue with Google</b></button>
                                <div class="lineBreak">
                                    <div class="line"></div><span>OR</span> <div class="line"></div>
                                </div>
                                <button class="btn emailBtn boxShadow" (click)="openDialog()"> <i class="fa fa-envelope" aria-hidden="true"></i> <b> Sign up with Email</b></button>
                                <h3><b>Bug Tracker</b></h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </div>
    </section>


    <!-- Why Bug Tracker -->

    <section class="features pt-5 pb-5">
        <div class="container">
            <div class="sectionHeading textAlignCenter fadeIn ">
                <h1><b>Why Choose Bug Tracker?</b></h1>

            </div>
            <div class="row p-4">
                    <div class="slideLeft col-md-6 d-flex ">
                        <div class="img m-2">Image here</div>
                        <div class="content">
                            <h4>Custom Attributes & Actions</h4>
                            <p>Automatically collect and monitor any interesting event with all the relevant context attached</p>
                        </div>
                    </div>
                    <div class=" slideRight col-md-6 d-flex">
                        <div class="img m-2">Image here</div>
                        <div class="content">
                            <h4>Error Tracking Automatically</h4>
                            <p>Group application errors into issues to get the context you need for root cause analysis and reduce MTTR</p>
                        </div>
                    </div>
            </div>
            <div class="row p-4">
                <div class=" slideLeft col-md-6 d-flex">
                    <div class="img m-2">Image here</div>
                    <div class="content">
                        <h4>Frontend To Backend Correlation</h4>
                        <p>See key frontend performance metrics in context with APM traces from backend services in your applications</p>
                    </div>
                </div>
                <div class="slideRight col-md-6 d-flex">
                    <div class="img m-2">Image here</div>
                    <div class="content">
                        <h4>Out-Of-The-Box Dashboards</h4>
                        <p>Access nearly instant time to value for both set up and investigation and work on that</p>
                    </div>
                </div>
        </div>
        </div>
        <div class="container pt-5">
            <!-- <div class="textAlignCenter">
                <h2><b>Features</b></h2>
            </div> -->

            <div class="row feature">
                <div class="col-md-6 slideLeft">
                    <div class="boxShadow1">
                        <img loading="lazy" class="featureImg" alt="image" srcset="https://imgix.datadoghq.com/img/dg/aggregate_errors.png?auto=format&w=652&dpr=1">
                    </div>
                </div>
                <div class="col-md-6 featureContent slideRight">
                    <h3 class="mb-3"><b>Automatically Aggregate Similar Errors into Issues</b></h3>
                    <p style="line-height: 1.5rem;">Reduce noise by automatically grouping related errors into issues based on error type, error message, and stack trace
                        Follow issues over time to understand </p>
                </div>
            </div>
            <hr>

            <div class="row feature">
                <div class="col-md-6 featureContent_r slideLeft">
                    <h3 class="mb-3"><b>Triage Issues Faster with Error Tracking Monitors</b></h3>
                    <p style="line-height: 1.5rem;">Receive real-time alerts when new issues arise, so you can resolve them before many users are affected </p>
                    </div>
                    <div class="col-md-6 slideRight">
                        <div class="boxShadow1">
                            <video class="w-100" playsinline autoplay muted loop>
                                <source src="https://imgix.datadoghq.com/video/dg/error_tracking_alerts.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="row feature">
                <div class="col-md-6 slideLeft">
                    <div class="boxShadow1">
                        <img loading="lazy" class="featureImg" alt="image" srcset="https://imgix.datadoghq.com/img/dg/error_tracking_root_cause.png?auto=format&w=652&dpr=1">
                    </div>
                </div>
                <div class="col-md-6 featureContent slideRight">
                    <h3 class="mb-3"><b>Easily Identify & Troubleshoot the Root Cause of Errors</b></h3>
                    <p style="line-height: 1.5rem;">Investigate errors down to lines of code with un-minification of JavaScript stack traces, deobfuscation of Android crashes, 
                        and symbolication of iOS crashes</p>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <!-- Customers -->

    <section class="customers">
        <div class="container">

            <div class=" sectionHeading">
                <h1 class="textAlignCenter"><strong>Leading industry experts recommend Bugtracker</strong></h1>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex flex-column  ">
                    <div class="badgeLogo">
                       <img class="logoImg" alt="Gartner Magic Quadrant"
                       srcset="https://website-assets-fd.freshworks.com/attachments/cknpnh49u034xmog1x5n8dsak-gartner-1.full.webp 2x">
                       <p class="sailec-medium-14 textAlignCenter">2021 Gartner Magic Quadrant</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column ">
                    <div class="badgeLogo">
                        <img class="logoImg" alt="output onlinepngtools 17" 
                        title src="https://website-assets-fd.freshworks.com/attachments/cl1m4pg0k01pli3fnrzjhr7q1-output-onlinepngtools-17.one-half.webp" 
                        srcset="https://website-assets-fd.freshworks.com/attachments/cl1m4pg0k01pli3fnrzjhr7q1-output-onlinepngtools-17.full.webp 2x">
                        <p class="sailec-medium-14 textAlignCenter">G2 Momentum Leader</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column ">
                    <div class="badgeLogo">
                        <img class="logoImg" srcset="https://website-assets-fd.freshworks.com/attachments/cl1m50q7e01wri3fnk0p5rea5-finances-online-2022.full.webp 2x">
                        <p class="sailec-medium-14 textAlignCenter">Finance Online 2022 Q1 Award</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column">
                    <div class="badgeLogo">
                       <img class="logoImg" srcset="https://website-assets-fd.freshworks.com/attachments/cl0e220xm03qc3wfnrb5nyg1a-ca-badge-shortlist-2022-fullcolor-positive.full.webp 2x">
                       <p class="sailec-medium-14 textAlignCenter">Capterra Shortlist 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="trust">
        <div class="container">
            <hr>
            <div class="mt-5">
                <h1 class="textAlignCenter fadeIn"><strong>Trusted by 50,000+ customers worldwide</strong></h1>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <div class="carousel-content">
                        <div class="carousel-logo textAlignCenter mb-5">
                            <img  srcset="https://website-assets-fd.freshworks.com/attachments/cjia1ds7x0025dgfzbv07tx21-logo-hamleys.full.png 2x">
                        </div>
                        <div class="textAlignCenter">

                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i>  We began looking for a new tool in autumn and were keen to get one in place and optimised ahead of the Christmas peak period. Bugtracker ensured that the implementation process 
                                was as smooth as possible, and the team were up and running within 48 hours. <i class="fa fa-quote-right" aria-hidden="true"></i></h4>
                            </div>
                            <div class="hr">
                                <hr>
                            </div>

                            <div class="caption justify-content-end d-flex mt-4">
                                <h5><b> Vaughan Potter </b><br>
                                    Head of Customer Services <br>
                                    Hamleys</h5>
                            </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="carousel-content">
                        <div class="carousel-logo textAlignCenter mb-5">
                            <img  srcset="https://website-assets-fd.freshworks.com/attachments/cjia1ds0i001wdbfzjkwbrmcf-logo-lesley.full.png 2x">
                        </div>
                        <div class="textAlignCenter">

                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i>  We were blown away when we saw Bugtracker. 
                                The combination of social, email, knowledge base, mobile, and gamification all together is what sealed the deal for us. <i class="fa fa-quote-right" aria-hidden="true"></i></h4>
                            </div>
                            <div class="hr">
                                <hr>
                            </div>

                            <div class="caption justify-content-end d-flex mt-4">
                                <h5><b> Charles Cooper </b><br>
                                    Director, Technology Support Services <br>
                                    Lesley University</h5>
                            </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="carousel-content">
                        <div class="carousel-logo textAlignCenter mb-5">
                            <img srcset="https://website-assets-fd.freshworks.com/attachments/cjia1ds0n001fdzfzf1eav82v-logo-pearson.full.png 2x">
                        </div>
                        <div class="textAlignCenter">

                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i>  We recommend Bugtracker because it’s great and their agents are determined to make it fit their customer’s needs. <i class="fa fa-quote-right" aria-hidden="true"></i></h4>
                            </div>
                            <div class="hr">
                                <hr>
                            </div>

                            <div class="caption justify-content-end d-flex mt-4">
                                <h5><b> Matthijs Lok </b><br>
                                    Marketing Manager Online <br>
                                    Pearson</h5>
                            </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    <app-footer></app-footer>

</div>
    

    